/*
  <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Your Name Here</a>. </div>
<style>
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
</style> */

.color {
  color: hsl(215, 51%, 70%);
  color: hsl(178, 100%, 50%);
  color: hsl(217, 54%, 11%);
  color: hsl(216, 50%, 16%);
  color: hsl(215, 32%, 27%);
  color: hsl(0, 0%, 100%);
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(216, 50%, 16%);
  border: 7px solid rgb(202, 42, 42);
  width: 375px;
  height: 20%;
  margin: 2rem 0.5rem;
  padding: 2rem;
  border-radius: 30px;
}

.card .card-img img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* card details styling */
.card-details {
  padding: 0.6rem 0;
}

.card-details .card-title {
  font-size: 1.3rem;
  padding: 0.6rem 0;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.card-details .card-desc {
  color: hsl(215, 51%, 70%);
  padding: 0.7rem 0;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 400;
}

/* card price styling  */
.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  /* border-bottom: 1px solid hsl(215, 51%, 70%); */
}

.card-price .value img {
  margin-right: 5px;
}

.card-price .value {
  color: hsl(178, 100%, 50%);
}

.card-price .day img {
  margin-right: 5px;
}

.card-price .day {
  color: hsl(215, 51%, 70%);
}

.card-avatar {
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  padding: 1rem 0;
  gap: 15px;
}

.card-avatar img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.card-avatar p {
}
